.componentContainer {
  width: 100%;
  height: 100%;
  background-color: red;
  composes: flexRowWrapSpaceBetweenCenter from '../../../sharedStyles/flexstyles.css';
}

.separator {
  border-bottom: solid 2px #959fa9;
  margin-top: 6px;
  margin-bottom: 10px;
}

.leftContainer {
  composes: flexRowNoWrapCenter from '../../../sharedStyles/flexstyles.css';
}

.rightContainer {
  composes: flexRowNoWrapCenter from '../../../sharedStyles/flexstyles.css';
}

.itemContainer {
  composes: flexRowWrapSpaceBetweenCenter from '../../../sharedStyles/flexstyles.css';
  color: #5a5757;
  cursor: pointer;
  margin: 0 .5em;
  height: 60px;
}

.item {
  color: #5a5757;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.itemContainer:hover > *, .itemContainer:focus > *{
  color: #21c87a;
}


/*  Glow effect gotten from: https://github.com/IanLunn/Hover/blob/master/css/hover.css */ 
/* .item {
  background-color: #e1e1e1;
  color: #666;
  padding: .5em;

  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.item:hover, .item:focus, .item:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
} */
