/* The container for the actually container */
.mainContainer {
  width: 100%;
  background-color: blue;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}

/* The container for the component */
.componentContainer {
  width: 100%;
  height: 100%;
  background-color: red;
  composes: flexRowWrapSpaceBetweenCenter from '../../../sharedStyles/flexstyles.css';
}

.separator {
  border-bottom: solid 2px #959fa9;
  margin-top: 6px;
  margin-bottom: 10px;
}

.dropDownMenuContainer {
  display: block;
}

.invisible {
  display: none;
}

.leftContainer {
  composes: flexRowNoWrap from '../../../sharedStyles/flexstyles.css';
}

.rightContainer {
  composes: flexRowNoWrap from '../../../sharedStyles/flexstyles.css';
}